<div class="pricing-header px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
  <img src="assets/images/nasa.jpeg" alt="NASA logo" class="logo">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">
    Quickly build an effective pricing table for your potential customers with this Bootstrap example.
    It’s built with default Bootstrap components and utilities with little customization.
  </p>
</div>
<div class="container">
  <div class="card-deck mb-3 mt-5 text-center">
    <div class="card mb-4 shadow-sm" *ngFor="let tariff of tariffs">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ tariff.title }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          {{ tariff.price | currency }} <small class="text-muted">/ mon</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ tariff.users }} users included</li>
          <li>{{ tariff.storage }} GB of storage</li>
          <li>{{ tariff.support | support }}</li>
          <li *ngIf="tariff.helpCenter">Help center access</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">{{ tariff.type | tariffButton }}</button>
      </div>
    </div>
  </div>
</div>
